@import url("https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,400;1,500 & display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

:root {
  --color-1: rgb(15, 138, 87);
  --color-2: rgb(41, 161, 109);
  --color-3: rgb(255, 255, 255);
  --shadow: 2px 2px 2px rgb(255, 255, 255);
}

#search {
  height: 38px;
  width: 250px;
}

body {
  background: var(--color-2);
  display: flex;
}

.Navigation {
  position: fixed;
  width: 250px;
  height: 95%;
  background: var(--color-1);
  margin-top: 20px;
  padding: 0 15px;
  margin-left: 10px;
  font-weight: 600;
  box-shadow: var(--shadow);
  overflow: hidden;
  z-index: 200;
  transition: 1s;
}

.Navigation.active {
  width: 75px;
  overflow: hidden;
  transition: 1s;
}

.Items {
  position: relative;
  display: flex;
  gap: 28px;
  padding: 15px 0;
  padding-left: 20px;
  border-radius: 5px;
  width: 230px;
  margin-bottom: 10px;
  color: var(--color-3);
  font-size: 16px;
  transition: 1s;
}

.Items:nth-child(2) {
  background: var(--color-3);
  color: var(--color-1);
  margin-bottom: 30px;
}

.Items i {
  font-size: 20px;
}

.Items:not(:nth-child(1)):hover {
  background: var(--color-2);
}

.Items:not(:nth-child(1), :nth-child(2)):hover {
  padding-right: 30px;
}

.Items:not(:first-child, :last-child):hover {
  margin-left: 20px;
}

.Items:first-child {
  margin: 45px 0;
}

.Items:last-child {
  margin: 45px 0;
}

.Items:first-child {
  margin-top: 48px;
}

/* ============================Main========================== */

.Main {
  position: relative;
  display: block;
  left: 250px;
  width: calc(100% - 250px);
  min-height: 100vh;
  padding: 1.5rem;
  transition: 1s;
}

.Main.active {
  position: relative;
  left: 75px;
  width: calc(100% - 75px);
  transition: 1s;
}

.Topbar {
  position: relative;
}

.Gadget {
  position: absolute;
  display: flex;
  right: 0;
  width: 400px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: var(--color-1);
  color: var(--color-3);
  box-shadow: var(--shadow);
}

.Toggle {
  cursor: pointer;
}

.Profil {
  display: flex;
  align-items: center;
  gap: 6px;
}

.Profil__img {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.Profil__img img {
  position: absolute;
  top: 0;
  right: 0;
  place-items: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ========================================Content============================== */

.Content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 1.5rem;
}

.Content .General {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.Content .General .Box {
  position: relative;
  display: flex;
  padding: 20px;
  height: 180px;
  width: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: var(--color-1);
  color: var(--color-3);
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.Content .General .Box .Icon i {
  font-size: 68px;
}

/* ==========================Tableau=========================== */

.Other {
  position: relative;
  width: 100%;
  /*   height: 440px;*/
  background: var(--color-1);
  box-shadow: var(--color-3);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1px;
  border-radius: 3px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead tr {
  background: var(--color-3);
  color: var(--color-1);
  font-weight: 600;
}

table thead tr td {
  font-size: 18px;
  text-align: center;
  color: var(--color-2);
}

table tr {
  border-bottom: 1px solid rgb(20, 19, 19);
}

table tbody tr td {
  font-weight: 500;
  font-size: 15px;
}

table tbody tr:hover {
  background: var(--color-2);
}

table tr td {
  padding: 8px;
  color: var(--color-3);
}

.action{
  display: flex;
  justify-content: space-around;
}

/* ======================Responsive==================== */

@media screen and (max-width: 1114px) {
  .Navigation {
    width: 200px;
  }

  .Navigation.active {
    width: 230px;
    z-index: 200;
  }

  .Items {
    font-size: 15px;
    gap: 10px;
  }

  .Main {
    width: calc(100% - 200px);
    left: 200px;
  }

  .Box {
    flex-direction: column;
  }

  .Box .Icon i {
    font-size: 40px;
  }

  .Other {
    height: 400px;
  }

  table thead tr td {
    font-size: 14px;
  }

  table tbody tr td {
    font-size: 13px;
  }
}

@media screen and (max-width: 885px) {
  .Navigation {
    width: 75px;
  }

  .Navigation.active {
    width: 230px;
    z-index: 200px;
  }

  .Items {
    gap: 25px;
  }

  .Main {
    width: calc(100% - 80px);
    left: 80px;
  }

  .Content .General {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    font-size: 13px;
  }

  .Box {
    flex-direction: row;
    width: auto;
    height: 80px;
  }

  .Box .Icon i {
    font-size: 25px;
  }

  .Other {
    overflow: scroll;
  }
}

@media screen and (max-width: 448px) {
  .Content {
    position: relative;
    width: 100%;
  }

  .Gadget {
    width: 100%;
  }

  .Content .General {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
