.contenu-masquer{
    display: flex;
    justify-content: space-around;
    border: 2px solid #ed6825;
    border-radius: 12px;
    background: #e7e6e6;
}
.profile{
    width: 30%;
    padding: 8px;
}
.profile-content{
    background-color: rgb(252, 251, 250);
    border-radius: 5px 18px 5px 18px;
    padding: 12px;
    margin-bottom: 2%;
}
label{
    color: #ed6825;
    font-size: 18px;
    font-weight: bold;
}
.profile-content span{
    color: #179349;
}
.fermer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.profile button{
    margin-bottom: 5%;
    width: 30px;
    height: 30px;
    border: 2px solid #ed6825;
    border-radius: 12px;
}